*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    color: hsl(210, 10%, 33%);
}
/* Common Designed Elements */
h2,p{
    margin-bottom: 0.75rem;
}
p{
    font-weight: 400;
}
/* Header */
header{
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:3rem 0;
}
.logo img{
    height:auto;
    width: 100px;
    margin-bottom: -0.75rem;
}
/* Main Content */
.main{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.main .section-b{
    margin-top: 5rem;
}
/* Button */
.btn{
    margin-top: 3rem;
}
.forIos,.forMac{
    text-decoration: none;
    padding: 0.50rem 2rem;
    border-radius: 50px;
    color: white;
    margin: 0 0.25rem;
}
.forIos{
    background-color: hsl(171, 66%, 44%);
}
.forMac{
    background-color: hsl(233, 100%, 69%);
}
/* Section C */
.section-c{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.section-c-content{
    display: flex;
    flex-direction: column;
    margin-right: 7rem;
    align-items: center;
    justify-content: center;
    width: 30%;
}
/* Section D */
.section-d{
    margin-top: 5rem;
}
.section-d-image{
    margin-top: 5rem;
}
/* Section E */
.section-e-properties{
    display: grid;
    margin: 5rem 5rem;
    grid-gap: 5%;
    grid-template-columns: repeat(3,1fr);

}
/* Company Logo */
.company-logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
/* Section F */
.section-f{
    margin: 5rem auto;
}
/* Footer */
.footer-logo{
    height:auto;
    width: 60px;   
}
.footer{
    display: flex;
    justify-content: space-between;
    background: lightgrey;
    padding: 1.5rem 3rem;
}
.footer-section-a{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
}
.footer-section-a a{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}
.footer-part-one,.footer-part-two,.footer-part-three{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.footer-section-b{
    display: flex;
    justify-content: center;
    width: 30%;
}
.footer-section-b img{
    margin-left: 2rem;
}
/* Media Query */
@media only screen and (max-width:375px){
    body{
        /* text-align: center; */
    }
    .logo img{
        height:auto;
        width: 130px;
        margin-top: 3rem;
    }
    /* Main */
    .main{
        margin:3rem 2rem;
    }
    /* button */
    .btn a{
        display: block;
        padding: 1rem;
        margin-top: 1rem;
    }
    /* Section C */
    .section-c{
        /* display: block; */
        flex-direction: column;
    }
    /* Image */
    .mac{
        max-width: 100%;
        height: auto;
    }
    .section-c,.section-d,.section-e,.section-f{
        margin:3rem 2rem;
    }
    .section-c-content{
        width: 100%;
        text-align: center;
    }
    .section-c-content>div{
        margin-top: 3rem;
    }
    /* Section D */
    .section-d-image{
        max-width: 100%;
        height: auto;
    }
    /* Section E*/
    .section-e-properties{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:5rem 2rem;
    }
    /* Company Logo */
    .company-logo{
        display: block;
        margin: 3rem 2rem;
        margin-top: 5rem;
    }
    .company-logo>div{
        margin-top: 5rem;
    }
    /* Footer */
    .footer{
        flex-direction: column;
    }
    .footer-section-a{
        width: 100%;
        display: block;
    }
    .footer-section-a a{
        margin-top: 1.5rem;
    }
    .footer-part-one,.footer-part-two,.footer-part-three{
        text-align: center;
    }
    .footer-section-b{
        width: 100%;
        display: flex;
        margin-top: 5rem;
        justify-content: space-between;
    }
    .footer-section-b img{
        margin: 0 auto;
    }
}